<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/base}">
<head>
    <title>Quản lý danh mục blog</title>
    <!-- Liên kết đến CSS và JS ở đây -->
</head>
<body>
    <div layout:fragment="base">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="box">
                <div class="box-body">
                    <a href="/admin/blogCategory/add" class="btn btn-success text-right" style="margin-bottom: 10px">+ Thêm mới</a>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 10px">STT</th>
                                <th>Tên</th>
                                <th>Trạng thái</th>
                                <th>Hành Động</th>
                            </tr>
                        </thead>
                        <tbody th:if="${records.size() > 0}">
                            <tr th:each="record, index : ${records}">
                                <td th:text="${index + 1}"></td>
                                <td th:text="${record.title}"></td>
                                <td>
                                    <span th:if="${record.is_active}" class="label label-success">Hoạt động</span>
                                    <span th:if="${!record.is_active}" class="label label-danger">Dừng hoạt động</span>
                                </td>
                                <td>
                                    <a th:href="@{'/admin/blogCategory/detail/' + ${record.id}}" class=""><span class="label label-default">Chi tiết</span></a>
                                    <a th:href="@{'/admin/blogCategory/edit/' + ${record.id}}" class=""><span class="label label-info">Sửa</span></a>
                                    <a th:href="@{'/admin/blogCategory/delete/' + ${record.id}}" class=""><span class="label label-danger">Xoá</span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
