<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
              integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
              crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" th:href="@{/assets/reset.css}" />
        <link rel="stylesheet" th:href="@{/assets/base.css}" />

    </head>

    <body>

        <!-- Header -->
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="inner-logo">
                        <img src="/media/site-logo.svg" alt="" />
                    </div>

                    <ul class="inner-menu">
                        <a href="/client/home">
                            <li>Home</li>
                        </a>
                        <a href="/client/books">
                            <li>Books</li>
                        </a>
                        <a href="/client/about_author">
                            <li>About Author</li>
                        </a>
                        <a href="/client/blog">
                            <li>Blog</li>
                        </a>
                        <a href="/client/contact">
                            <li>Contact</li>
                        </a>
                    </ul>

                    <div class="inner-feature">
                        <a href="/client/login" class="login">Sign in</a>
                        <a href="/client/sign_up" class="sign">Sign up</a>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <a href="">
                            <div style="color: var(--color-cart)" class="ineer-price">
                                $0.00
                        </a>
                    </div>
                    <a href="">
                        <i style="color: var(--color-cart)" class="fa-solid fa-cart-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->


    <main>
        <div layout:fragment="base">

        </div>
    </main>


    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="inner-logo">
                    <img src="/media/site-logo-white.svg" alt="" />
                </div>

                <ul class="inner-menu">
                    <a href="#">
                        <li>Home</li>
                    </a>
                    <a href="#">
                        <li>Books</li>
                    </a>
                    <a href="#">
                        <li>About Author</li>
                    </a>
                    <a href="#">
                        <li>Blog</li>
                    </a>
                    <a href="#">
                        <li>Contact</li>
                    </a>
                </ul>

                <div class="inner-icon">
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
            <div class="inner-copy">
                <p>Copyright © 2024 Book Store | Powered by Book Store</p>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
</body>

</html>
