
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/base}">
    <div layout:fragment="base">
        <head>
            <title>Blog</title>
            <link rel="stylesheet" th:href="@{/assets/pages/books/style.css}" />
            <link rel="stylesheet" th:href="@{/assets/pages/blog/style-blog.css}" />
        </head>


        <!-- Section-->

        <div class="card-container">
            <div class="card">
                <img th:src="@{/media/author-book-store-blog-img-03.jpg}" alt="Outing Justo Morbi Vixi">
                <div class="card-content">
                    <h2>Outing justo morbi vixi</h2>
                    <p class="beta">Leave a Comment / Uncategorized / akbarh</p>
                    <p>
                        Aliquam sed in egestas gravida amet mattis sagittis, semper morbi vitae, egestas blandit duis facilisis adipiscing fermentum aenean nunc nibh accumsan, ornare enim at interdum mi arcu, ut magna ultrices odio dictumst aliquam tincidunt dictum pharetra vestibulum aliquam aliquet suspendisse. Sed et aliquam tincidunt ut sed porttitor nunc et etiam molestie arcu donec venenatis nulla […]

                    </p>
                    <a th:href="@{Outing justo morbi wild.html}">Read More</a>
                </div>
            </div>

            <div class="card">
                <img th:src="@{/media/author-book-store-blog-img-02.jpg}" alt="Eget elementum on train">
                <div class="card-content">
                    <h2>Eget elementum on train</h2>
                    <p class="beta">Leave a Comment / Uncategorized / akbarh</p>
                    <p>
                        Aliquam sed in egestas gravida amet mattis sagittis, semper morbi vitae, egestas blandit duis facilisis adipiscing fermentum aenean nunc nibh accumsan, ornare enim at interdum mi arcu, ut magna ultrices odio dictumst aliquam tincidunt dictum pharetra vestibulum aliquam aliquet suspendisse. Sed et aliquam tincidunt ut sed porttitor nunc et etiam molestie arcu donec venenatis nulla […]

                    </p>
                    <a th:href="@{Eget elementum on train.html}">Read More</a>
                </div>
            </div>

            <div class="card">
                <img th:src="@{/media/author-book-store-blog-img-01.jpg}" alt="Visti sagittis malesuada vestibulum">
                <div class="card-content">
                    <h2>Visit sagittis malesuada vestibulum</h2>
                    <p class="beta">Leave a Comment / Uncategorized / akbarh</p>
                    <p>
                        Aliquam sed in egestas gravida amet mattis sagittis, semper morbi vitae, egestas blandit duis facilisis adipiscing fermentum aenean nunc nibh accumsan, ornare enim at interdum mi arcu, ut magna ultrices odio dictumst aliquam tincidunt dictum pharetra vestibulum aliquam aliquet suspendisse. Sed et aliquam tincidunt ut sed porttitor nunc et etiam molestie arcu donec venenatis nulla […]

                    </p>
                    <a th:href="@{Visit sagittis malesuada vestibulum.html}">Read More</a>
                </div>
            </div>
        </div>

        <div class="sub">
            <div class="subscribe-container">
                <h1>Be the first to know</h1>
                <p>
                    Lectus amet scelerisque fusce est venenatis, eget enim dolor amet vitae pharetra
                </p>

                <div class="subscribe-form">
                    <input type="email" placeholder="Your email please">
                    <button type="submit">Subscribe</button>
                </div>
            </div>
        </div>

        <!-- End Section-->



</html>