<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/base}">
    <div layout:fragment="base">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/assets/pages/home/style.css}" />
        <link rel="stylesheet" th:href="@{/assets/reset.css}" />
        <link rel="stylesheet" th:href="@{/assets/base.css}" />
        <!-- Slide -->
        <div class="inner-slide">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li th:each="book, index : ${books}" 
                        data-target="#carouselExampleIndicators" 
                        data-slide-to="${index.index}" 
                        classappend="${index.index == 0} ? 'active'"></li>
                </ol>
                <div class="carousel-inner">
                    <div th:each="book, index : ${books}" 
                         th:class="|carousel-item ${index.index == 0 ? 'active' : ''}|">
                        <div class="d-block w-100 d-flex">
                            <img th:src="@{'/uploads/' + ${book.image}}" alt="Slide Image">
                            <div class="carousel-books">
                                <h1 class="inner-title" th:text="${book.title}"></h1>
                                <p th:text="${book.description}"></p>
                                <a th:href="@{'/books/' + ${book.slug}}"><button class="button">MORE</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- End Slide -->

        <!-- section-1 -->
        <section class="section-1">
            <div class="container">
                <div class="row">
                    <div class="inner-content">
                        <p class="inner-new">New Release</p>
                        <h1 class="inner-title" th:text="${booksNew[0].title}">The Sons of the Empire</h1>
                        <p class="inner-desc1" th:text="${booksNew[0].description}">
                            Convallis feugiat enim consectetur mi purus massa
                            sit mus in ac lacus odio ut scelerisque parturient.
                        </p>
                        <div class="inner-btn">
                            <button class="button button-1">Buy now</button>
                            <button class="button">Read Sample</button>
                        </div>
                    </div>
                    <div class="inner-img">
                        <img th:src="@{'/uploads/' + ${booksNew[0].image}}" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <!-- End section-1 -->

        <!-- section-2 -->
        <section class="section-2">
            <div class="container">
                <div class="row">
                    <div class="inner-img">
                        <img src="/media/author-book-store-author-img.jpg" alt="" />
                    </div>
                    <div class="inner-content">
                        <p class="inner-new">Biography</p>
                        <h1 class="inner-title">John Roberts</h1>
                        <p class="inner-desc1">
                            Tellus tellus mattis pulvinar nulla euismod
                            fermentum rhoncus sed vestibulum neque praesent
                            pharetra ut fames viverra suscipit gravida dictumst
                            volutpat ullamcorper lacus, malesuada enim proin
                            volutpat mattis nunc amet, eget vitae egestas.
                        </p>
                        <p class="inner-desc2">
                            Vulputate vulputate eget cursus nam ultricies
                            mauris, malesuada elementum lacus arcu, sit dolor
                            ipsum, ac felis, egestas vel tortor eget aenean nam.
                        </p>
                        <div class="inner-btn">
                            <a href="/about_author"><button class="button">Read More</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section-2 -->

        <!-- section-3  -->
        <section class="section-3">
            <div class="container">
                <div class="row">
                    <div class="inner-box">
                        <div class="inner-logo">
                            <img src="/media/author-book-store-awards-logo-1.svg" alt="" />
                        </div>
                        <div class="inner-title">Best Author Awards 2012</div>
                        <div class="inner-desc">
                            Arcu pellentesque nisi consectetur netus aenean
                            metus sit mattis sit sed.
                        </div>
                    </div>
                    <div class="inner-box">
                        <div class="inner-logo">
                            <img src="/media/author-book-store-awards-logo-.svg" alt="" />
                        </div>
                        <div class="inner-title">
                            World's #1 Best-selling Book
                        </div>
                        <div class="inner-desc">
                            Diam nibh non in enim nunc suscipit risus,
                            adipiscing aenean quisque viverra.
                        </div>
                    </div>
                    <div class="inner-box">
                        <div class="inner-logo">
                            <img src="/media/author-book-store-awards-logo-3.svg" alt="" />
                        </div>
                        <div class="inner-title">
                            NYT Best-selling Author 2014
                        </div>
                        <div class="inner-desc">
                            Urna donec dolor bibendum lectus arcu purus eget
                            nisl, ut nisl vitae.
                        </div>
                    </div>
                    <div class="inner-box">
                        <div class="inner-logo">
                            <img src="/media/author-book-store-awards-logo-4.svg" alt="" />
                        </div>
                        <div class="inner-title">Best Author Awards 2018</div>
                        <div class="inner-desc">
                            Morbi odio sodales et facilisis mi nibh fringilla
                            quis risus ultricies facilisis.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section-3  -->

        <!-- section-4  -->
        <section class="section-4">
            <div class="container">
                <div class="row">
                    <div class="inner-head">
                        <div class="inner-title">New Books</div>
                    </div>

                    <div class="inner-main">
                        <div th:each="book : ${booksNew}" class="inner-box">
                            <a th:href="@{'/books/' + ${book.slug}}">
                                <img class="inner-img" th:src="@{'/uploads/' + ${book.image}}" alt="" />
                                <div class="inner-cate" th:text="${book.category.title}">Fantasy</div>
                                <div class="inner-title" th:text="${book.title}">The Born of APLEX</div>
                                <div class="inner-price" th:text="'$' + ${book.price}">$26.00</div>
                            </a>
                        </div>
                    </div>

                    <div class="inner-btn">
                        <a href="/books"><button class="button">Shop All Books</button></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end  section-4  -->

        <!-- section -6 -->
        <section class="section-6">
            <div class="container">
                <div class="row">
                    <h1 class="inner-title">Be the first to know</h1>
                    <p class="inner-desc">
                        Lectus amet scelerisque fusce est venenatis, eget enim
                        <br />
                        dolor amet vitae pharetra
                    </p>
                </div>
            </div>
        </section>
        <!-- End section-6 -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    </div>

</html>



