<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/base}">
    <div layout:fragment="base">
       
      
        <head>
            <title>Login</title>
            <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.0.8/css/all.css}"> 
            <link rel="stylesheet" th:href="@{/assets/pages/login/style.css}" />
        </head>
        <body>
           
        </body>
</html>
