<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/base}">
<head>
    <title>Blog</title>
    <link rel="stylesheet" th:href="@{/assets/pages/books/style.css}" />
    <link rel="stylesheet" th:href="@{/assets/pages/blog/style-blog.css}" />
 
</head>
<body>
    <div layout:fragment="base">
        <div class="card-container" th:each="blog : ${blogs}">
            <div class="card">
                <img th:src="@{'/uploads/'+${blog.image}}" alt="">
                <div class="card-content">
                    <h2 th:text="${blog.title}"></h2>
<!--                    <p class="beta" th:text="${blog.category}"></p>-->
                    <p th:if="${blog.description.length() > 100}" th:text="${#strings.substring(blog.description,0,250)+ '[...]'}"></p>
                    <p th:if="${blog.description.length() <= 100}" th:text="${blog.description}"></p>
                    <a th:href="@{/blog/BlogDetail/{slug}(slug=${blog.slug})}" class="read-more">Read More</a>
                </div>
            </div>
        </div>

        

        <div class="sub">
            <div class="subscribe-container">
                <h1>Be the first to know</h1>
                <p>
                    Lectus amet scelerisque fusce est venenatis, eget enim dolor amet vitae pharetra
                </p>
                <div class="subscribe-form">
                    <input type="email" placeholder="Your email please">
                    <button type="submit">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
